*{
    margin: 5px;
    padding: 0;
  box-sizing: border-box;
 
}

.bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 150px;
        font-style: normal;
        text-align: center;
        background-color: beige;
        margin-left: 100px;
        margin-right: 100px;
      }
      

 header p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 50;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    background-color: coral;
    margin-left: 100px;
    margin-right: 50px;
   

}
body{
    background-image: url(../img/38019583-fondo-amarillo-floral-vector-sin-patrón.jpg);
}

.foto-carousel{
  align-content: center;
}

 footer{
    background-color: black;
    text-align: center;
    color: bisque;
    margin-top: 10px;
 }

